    <hr />
    <section>
            <p>You can always find me on <a class="lsf-big-icon" title="twitter" href="https://twitter.com/BOSSoNe0013"><span>Twitter</span></a> and <a class="lsf-big-icon" title="facebook" href="https://www.facebook.com/bossone"><span>Facebook</span></a>.
            You can also browse my photographies on <a href="http://500px.com/BOSSoNe/store"><span>500px</span></a> and <a class="lsf-big-icon" title="flickr" href="https://www.flickr.com/photos/bossone/"><span>Flickr</span></a>.</p>
            <a href="https://www.malt.fr/profile/cyrilbosselut" data-id="55128827e4b098ed2b6b1362" class="hopwork_button" data-width="small" data-colorscheme="blue" data-recos="true" data-bgrecos="dark">Hire me !</a>
    </section>
    <footer>&copy;The B1 Project 2019 <a id="backtotop">#</a></footer>
  </body>
</html>
